<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <div class="flex">
      <div class="flex align-items-center justify-content-center">
        <img src="assets/images/SmartFileCabinet.png" alt="SFC logo" class="mr-2" style="height:40px;">
      </div>
      <div class="flex align-items-center justify-content-center font-bold">Smart File Cabinet</div>
      <div>
        <p-divider layout="vertical"></p-divider>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <a pButton label="Login" href="#"></a>
  </ng-template>
</p-menubar>
&nbsp;
<p-card>
  <router-outlet></router-outlet>
</p-card>
